.appWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* Default font family within app */
    font-family: 'Balsamiq Sans', 'Roboto', sans-serif;
}