@import '../../base_styles/colors';
@import '../../base_styles/buttons';

.appWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* Default font family within app */
    font-family: 'Balsamiq Sans', 'Roboto', sans-serif;
}

.footerControlWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    @media screen and (min-width: 800px){
        max-width: 800px;
        left:0px;
        right:0px;
        margin: auto;
    }
    
    .roomsToolWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: x-large;
        button{
            height: 50%;
            font-size: large;
            justify-content: center;
            width: 160px;
        }
    }

    .footerButtonWrap{
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        margin-right: 0px;
        
        button{
            height: 50px;
            font-size: medium;
            width:100%;
            max-width: 160px;
            padding:0px;
            display: flex;
            padding-right: 5px;
        }

        .buttonTxt{
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
        }

        .buttonIconWrap{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width:20%;
                padding:0px !important;
            .buttonIcon{
                font-size: x-large;
            }
        }

        &.checkAll{
            justify-content: flex-start; 
            padding-right:10px;
            @media screen and (max-width: 800px){
                padding-left: 20px;
            }

            .checkBtn{
                &:disabled{
                    background-color: darken($yellow, 10%);
                }
            }
        }

        &.print{
            justify-content: flex-end; 
            padding-left:10px;
            @media screen and (max-width: 800px){
                padding-right: 20px;
            }
        }
    }

    .changeName{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        margin-right: 0px;
        justify-content: flex-end;
        padding-right: 20px;

        button{
            padding-left: 20px;
            height: 50%;
            font-size: medium;
            justify-content: center;
            max-width: 160px;
        }
    }
}