@import '../../base_styles/colors';
@import '../../base_styles/buttons';
.roomsWrapper{
    padding: 10px 10px 10px 10px;
    font-family: 'Balsamiq Sans', cursive;
    overflow-y: scroll;
    
    h1, h2, h3, h4{
        font-weight: 100;
    }
}

.notes{
    display: flex;
    justify-content: center;
    p{
        text-align: center;
    }
}

.createRoomWrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button{
        height:  36px;
    }
    margin-bottom: 20px;
}

.roomToolIcon{
    padding-left: 10px;
}

.roomCode{
    display: flex;
    align-items: center;
    padding-right: 10px;
    .roomCodeIcon{
        padding-right: 10px;
    }
}

.roomTopToolbarWrapper{
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-end;

    .joinRoomWrapper{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .joinRoomButtonWrapper{
            width: auto;
            max-width: 30%;
            display: flex;
            padding-left: 20px;
            justify-content: flex-end;
            button{
                height: 36px;
                width: 120px;
                font-size: large;
            }
        }
        .joinRoomInputWrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 150px;
            .joinRoomInput{
                background-color: lighten($gray, 20%);
                width: 100%;
                height: 30px;
                font-size: x-large;
                border-radius: 5px;
            }

            @media screen and (max-width: 425px) {
                justify-content: flex-start;
                width: auto;
            }
        }
    }
    .joinRoomInfo{
        position: absolute;
        height: 40px;
        display: flex;
        align-items: center;
        color: $red;
        // padding-left: 10px;
        top: 50px;
    }
}

.createRoom{
    font-size: large;
    height: 40px;
    button{
        height: 70%;
        width: 90%;
        font-size: large; 
        justify-content: center;
    }
}

.roomWrapper{
    position: relative;
    font-size: large;
    display: flex;
    align-items: center;
    height: 40px;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    padding:5px 5px 5px 5px;
    border-radius: 5px;
    margin-bottom:20px;
    background-color: $lightBlue;

    .joinRoomClickRegion{
        position: absolute;
        width: calc(100% - 50px);
        height: 100%;
        margin-left: -5px;
    }

    &:hover{
        background-color: darken($lightBlue, 20%);
    }
    
    .roomName{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 65%;
        padding-left: 10px;
        padding-right: 16px;
    }
    .roomTools{
        display: flex;
        align-items: center;
        height: 100%;
        width: 35%;
        display: flex;
        justify-content: flex-end;

        .roomDelete{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 50px;
            .deleteIcon{
                font-size: xx-large;
                color: $red;
                &:hover{
                    color: darken($red, 30%);
                }
            }
        }
    }
}