.listWrapper{
    display: flex;
    flex-direction: column;
    background-color: #FF851B;
    
    min-width: 300px;
    width: 100%;
    height: 100vh;
    position: relative;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-size: x-large;
}

.listFooter{
    background-color: #FFDC00;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    font-size: x-large;

    .footerDiv{
        height:100%;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;

        button{
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;;
            width: 90%;
            font-family: 'Balsamiq Sans', cursive;
            font-size: large;
        }
    }
    .addItem{
        background-color: #2ECC40;
    }

    .clearList{
        background-color: #FF4136;
    }
}

.emptyListPlaceholder{
    display: flex;
    width: 100%;
    height: calc(100% - 120px);
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.list{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* background-color: #3D9970; */
    margin-bottom: 70px;
    padding: 10px 10px 10px 10px;
}