@import './colors';

@mixin btn-theme($btn-color){
    background-color: $btn-color;
    border-color: darken($btn-color, 20%);
    font-family: 'Balsamiq Sans', 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //Flex display
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    @media (hover: hover){
        &:hover{
            background-color: darken($btn-color, 15%);
        }
    }

    &:disabled{
        color: initial;
        &:hover{
            background-color:$btn-color;
        }
    }

    &:active{
        background-color: darken($btn-color, 15%);
        outline: 0;
    }
}

@mixin trans($val...) {
    -webkit-transition: $val;
    -moz-transition: $val; 
    -o-transition: $val; 
    transition: $val; 
}

.delete{
    @include btn-theme($delete);
}

.confirm{
    @include btn-theme($confirm);
}

.settings{
    @include btn-theme($settings);
}