$delete: #e8505bEE;
$confirm: rgb(153, 237, 204);
$orange: #FA7921;
$gray: #AAAAAA;
$blue: #0074D9;
$settings: #FFDD4AEE;
$lightBlue: rgb(35, 240, 199);

$listItemBackground: #b4e1ff;
$listItemChecked: #AAAAAA;