.appWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* Default font family within app */
    font-family: 'Balsamiq Sans', cursive;

    &.mobile{
        height: auto;
    }
}