@import '../../base_styles/colors.scss';

.confirmModalBlocker{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: rgba(255,255,255, .5);

    .confirmModal{
        height: 30%;
        width: 80%;
        background-color: rgba(255,255,255, .95);
        background-color: $orange;

        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .confirmSection{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        padding: 10px 10px 10px 10px;
    }

    .confirmText{
        font-size: larger;
        text-align: center;
    }

    .confirmTools{
        width: 100%;
        .buttonSection{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        button{
            width: 80%;
            height: 50px;
            font-size: large;
        }
    }
}

