@import '../../base_styles/colors.scss';

.printWrapper{
    padding: 20px 20px 20px 20px;
    font-family: 'Balsamiq Sans', 'Roboto', sans-serif;

    .listTitle{
        font-size: x-large;
        display: flex;
        align-items:center;

        .dateTime{
            text-decoration: underline;
            padding-left: 20px;
        }
    }
}

.printDataWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .categoryWrapper{
        margin-top:20px;
        width: calc(50% - 20px);
        padding-left: 10px;
        padding-right:10px;
        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }

    .categoryTitle{
        text-decoration: underline;
        font-size: x-large;
    }

    .categoryContent{
        font-size: large;
        margin-left: 20px;
        .checkMark{
            display: none;
            font-size: x-large;
            position: absolute;
            padding-left:10px;
            // color: $red;
        }

        .checked{
            text-decoration: line-through;
            .checkMark{
                display: initial;
            }
        }
    }
}