.listItem{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px 5px 5px 5px;
    height: 40px;
}

.listContent{
    font-size: large;
}

.listDate{
    font-size: small;
}

.listItemWrapper{
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #7FDBFF;
    border-radius: 5px;
}
.listItemWrapper.checked{
    background-color: #AAAAAA;
}
.listItemWrapper.mobile{
    flex-direction: column;
}

.listTools{
    padding: 5px 5px 5px 5px;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.listTools > .tool{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
    margin-right:10px;
    font-size: large;
}

.listTools > .deleteTool{
    background-color: #FF4136;
}

.listTools > .checkTool{
    background-color: #01FF70;
}