@import '../../base_styles/colors.scss';

.addEditModalBlocker{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255, .8);

    .addEditModal{
        max-width: 500px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        width: 100%;
        background-color: rgba(255,255,255, .95);
        border-radius: 10px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .addTitle{
        font-size: x-large;
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .modalWrapper{
        width: 100%;
        height: 100%;
    }

    .formWrapper{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

    }
    .addForm{
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .addFormItemDesc{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            width: 100%;
            font-size: large;
        }

        .formItem{
            background-color: #DDDDDD;
            font-size: x-large;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .formError{
            color: $red;
        }
    }

    .tools{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: auto;

        .toolSection{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button{
            width: 80%;
            height: 50px;
            font-size: large;
        }
    }
}

